# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db
